[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "~=2.26.0"
feedparser = "~=6.0.8"
flask = "~=2.0.2"
pyblake2 = "~=1.1.2"
werkzeug = "~=2.0.1"
feedgen = "~=0.9.0"
jsonpickle = "~=2.0"
pytz = "~=2021.3"
waitress = "~=2.0.0"

[scripts]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
