[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
feedparser = "*"
flask = "~=1.0.2"
pyblake2 = "*"
feedgen = "*"
pytz = "*"
futures = "*"
jsonpickle = "*"
waitress = "*"
werkzeug = "~=0.14.1"

[scripts]
